.collection-grid-ctn {
    text-align: center;
}

.collection-grid__title {
    font-size: 34px;
    margin-bottom: 25px;
}

.collection-grid__grid-ctn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 0;
    margin: 0 2.5%;
}

@media screen and (min-width: 400px) {
    .collection-grid__grid-ctn {
        margin: 0 auto;
        width: 385px;
    }
}

.collection-grid__grid-item {
    border: 2px solid black;
    border-radius: 10px;
    height: 470px;
    background-color: #fbf9f9;
    text-decoration: none;
}

.collection-grid__grid-item:hover {
    background-color: rgba(14, 14, 14, 0.7);
}

.collection-grid__img-ctn {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.collection-grid__img-ctn {
    height: 70%;
    margin: 15% 0;
}

.collection-grid__grid-title {
    text-align: center;
    margin: 0;
    font-size: 28px;
}