.weekly-picks {
    margin: 50px 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weekly-picks__header {
    /* text-align: center; */
    font-size: 34px;
    position: relative;
    color: rgb(var(--color-foreground));
}

.weekly-picks__product-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weekly-picks__item {
    text-align: center;
    padding: 5px;
}