.collection-grid-ctn {
    text-align: center;
}

.collection-grid__title {
    font-size: 34px;
    margin-bottom: 25px;
}

.collection-grid__grid-ctn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 0;
    margin: 0 2.5%;
}